button {
    background-color: #ffffff; 
    color: rgb(77, 81, 114);
    font-size: 0.75rem;
    border: none;
    font-weight: bold;
    padding: 10px 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    
}

button:hover {
    background-color: #e5ecf3fa; 
    transform: scale(1.05);
}

button:active {
    background-color: #ffffffb1;
    transform: scale(0.98);
}